.throw-chall-btn {
    display: flex;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 10rem;
    margin: 2rem auto;
    font-size: 1.8rem;
    font-weight: 900;
    text-transform: uppercase;
    background-color: $bg-blue;
    transition: filter .3s;
    outline: transparent;
    cursor: pointer;

    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: 0 7px 30px -10px rgb(150, 170, 180);

    img {
        margin-left: 1rem;
        transition: transform .3s;
    }

    &:hover {
        filter: brightness(120%);
    }

    &:hover img {
        transform: translateX(.5rem);
    }
}

.chall {
    // display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
    margin: 2rem 1rem;
    box-shadow: 0 7px 30px -10px rgb(150, 170, 180);
    border-radius: 1rem;

}

.chall__header {
    margin-bottom: 1rem;

}

.chall__what {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;

    .chall__title {
        font-size: 2.1rem;
        font-weight: 800;
    }
}

.chall__icon {
    height: 3rem;
}

.chall__value {
    display: block;
    font-size: 3rem;
    font-weight: 900;
    margin-left: 1rem;
}

.chall__body {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.chall__who {
    margin-bottom: 1rem;

    .user {
        justify-content: flex-end;
        padding-right: 1rem;

    }

    .user__name {
        min-width: 0;
        border-bottom: none;
    }

}

.chall__time-left {
    display: block;
    text-align: right;
    padding-right: 1rem;
    opacity: 0.7;
    margin-top: 1rem;
}



.chall__bet {
    // padding: 1rem;
    display: flex;
    align-items: center;
    font-size: 3.3rem;
    font-weight: 700;
    margin-bottom: -2rem;
}

.chall__footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-chall-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-yellow;
    padding: 0.5rem 1rem;
    font-weight: 900;
    width: 100%;
    border-radius: 10rem;
    box-shadow: 0 7px 30px -20px rgb(150, 170, 180);
    outline: transparent;
    cursor: pointer;
    transition: filter .2s;

    &:hover {
        filter: brightness(110%);
    }

    img {
        height: 2rem;
        margin-left: .5rem;
    }
}


.chall--win {

    box-shadow: 0 7px 30px -20px $bg-green;

    .chall__value {
        // color: $bg-green;
        // font-weight: 400;
    }

    .chall__bet {
        color: $bg-green;
        font-weight: 800;
    }

    .start-chall-btn {
        display: none;
    }
}

.chall--lose {

    box-shadow: 0 7px 30px -20px $bg-red;

    .chall__value {
        // color: $bg-red;
        // font-weight: 400;
    }

    .chall__bet {
        color: $bg-red;
        font-weight: 800;
    }

    .start-chall-btn {
        display: none;
    }
}


// new challenge modal

.new-chall {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background-color: #fff;

    @media (max-width: 813px) {
        overflow-y: scroll;
    }
}

.close-new-chall-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    margin-left: auto;
    outline: transparent;
    cursor: pointer;

    img {
        height: 4rem;
    }
}

.new-chall__title {
    position: relative;
    align-self: center;
    margin-bottom: 4rem;
    font-size: 3.3rem;
    letter-spacing: 2px;
    font-weight: 900;
    text-align: center;

    &::before {
        content: '';
        position: absolute;
        left: 1rem;
        right: 1rem;
        bottom: 1rem;
        z-index: -1;
        height: 1rem;
        border-radius: 10rem;
        background-color: $bg-yellow;
    }
}

.new-chall__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-chall__who,
.new-chall__what,
.new-chall__value,
.new-chall__bet,
.new-chall__time-left {
    display: flex;
    flex-direction: column;
    min-width: 25rem;
    padding: .5rem;
    margin-bottom: 0.2rem;

    label {
        margin-bottom: .5rem;
        font-size: 2rem;
        font-weight: 700;
    }

    input {
        padding: .5rem;
        padding-right: 3rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10rem;
        font-size: 2.1rem;
        font-weight: 800;
        font-family: inherit;
        text-align: right;
        box-shadow: 0 7px 30px -20px rgb(150, 170, 180);

        &::placeholder {
            font-size: 1.4rem;
            opacity: .3;
        }

        &:focus {
            outline: transparent;
            box-shadow: 0 0 0 2px $bg-yellow,
                0 7px 30px -20px $bg-yellow;
        }
    }
}

.new-chall-send-btn {
    display: flex;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 10rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.8rem;
    font-weight: 900;
    text-transform: uppercase;
    background-color: $bg-blue;
    transition: filter .3s;
    outline: transparent;
    cursor: pointer;

    box-shadow: 0 7px 30px -10px rgb(150, 170, 180);

    img {
        margin-left: 1rem;
        transition: transform .3s;
    }

    &:hover {
        filter: brightness(120%);
    }

    &:hover img {
        transform: translateX(.5rem);
    }
}