.dashboard {
    padding: 1rem;
}


.dashboard__title {
    padding: 1rem;
    margin-top: .5rem;
    font-size: 4rem;
    margin-bottom: 2rem;
    line-height: 5rem;
    font-weight: 900;
}

.dashboard__section-title {
    font-size: 2.5rem;
}

.dashboard__stats {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.stat {
    min-width: 28rem;
    padding: 2rem;
    // border: 1px solid $bg-yellow;
    border-radius: 10px;
    margin: 1rem;
    background: #FFFFFF;
    box-shadow: 0 7px 30px -10px rgb(150, 170, 180);
}

.stat__header {
    margin-bottom: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stat__title {
    line-height: 2rem;
    font-size: 1.9rem;
    font-weight: 700;
}

.stat__status {
    font-size: 2.1rem;
    font-weight: 800;

    &.pos {
        color: $bg-green;
    }

    &.neg {
        color: $bg-red;
    }
}

.stat__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.stat__number {
    font-size: 2.8rem;
    font-weight: 800;

}

.stat__more-info {
    position: relative;
    display: block;
    padding-right: 3rem;
    line-height: 2.5rem;
    font-size: 1.4rem;
    opacity: 0.6;
    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        height: 2.5rem;
        width: 2.5rem;
        background-image: url('/assets/icons/circled-arrow.svg');
        background-position: center;
        background-size: cover;
        transition: transform .3s;
    }

    &:hover::after {
        transform: translateX(.3rem);
    }
}

.progress-bar {
    display: block;
    width: 100%;
    margin-top: 1rem;
    border-radius: 6px;
    background: $bg-light-gray;

    .fluid {
        display: block;
        height: 1.2rem;
        width: 47%;
        border-radius: 6px;

        &.kcal {
            width: 87%;
        }

        &.pos {
            background-color: $bg-green;
            box-shadow: 0px 5px 6px -4px $bg-green;
        }

        &.neg {
            background-color: $bg-red;
            box-shadow: 0px 5px 6px -4px $bg-red;
        }
    }
}