// pomyśleć nad bardzo małymi urządzeniami
// większy font na desktopie
// sprawdzić jednostki
//responsywność
//kolejność wartości

.login {
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.login__top {
    display: flex;
    flex-direction: column;
    min-width: 335px;
}


.login__title {
    font-size: 2.3rem;
    text-align: center;
    line-height: 2.2rem;
    font-weight: 800;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.login__username,
.login__password {
    display: flex;
    flex-direction: column;
    max-width: 335px;
    margin-bottom: 2rem;

    label {
        font-style: normal;
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 1.5rem;
        margin-bottom: 0.5rem;
        cursor: pointer;
    }

    input {
        padding: 1.2rem 1.5rem;
        font-style: normal;
        font-size: 1.4rem;
        line-height: 2.5rem;
        font-family: inherit;
        display: block;
        border: 1px solid #aaa;
        border-radius: 3px;

        &:focus {
            box-shadow: 19px 13px 28px rgba(30, 26, 80, 0.1);
            border: 2px solid $bg-yellow;
            outline: none;
        }
    }
}

.login__mid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.4rem;
    line-height: 1.5rem;
    margin-bottom: 2.5rem;
    min-width: 330px;
}

.login__remember {
    display: flex;
    align-items: center;

    input[type="checkbox"] {
        margin-right: 0.5rem;
        cursor: pointer;
    }
}

.login__forgot {
    font-style: italic;
    color: $bg-yellow;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.login__bott {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__sing-in-btn {
    width: 335px;
    background-color: $bg-yellow;
    color: black;
    border-radius: 3px;
    font-weight: 700;
    font-size: 1.9rem;
    margin-bottom: 3rem;

    &:hover {
        background-color: darken($color: $bg-yellow, $amount: 5);
    }

    &:focus {
        outline: 3px darken($color: $bg-yellow, $amount: 3);
    }

}

.login__sing-up {
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #000;
    font-weight: 200;

    a {
        font-weight: 300;
        color: $bg-yellow;
    }
}