$font-family:'Nunito',
sans-serif;

$bg-yellow:#FFC312;
$bg-red:#EA2027;
$bg-green:#009432;
$bg-light-gray: #DEE3F0;


$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1280px;