$font-family:'Nunito',
sans-serif;
$logo-font:'Krona One',
sans-serif;

$bg-yellow:#FFC312;
// $bg-yellow:#FFAD00;
$bg-red:#EA2027;
$bg-green:#009432;
$bg-light-gray: #DEE3F0;
$bg-blue: #12CBC4;


//avatary

$bg-pink: #fd79a8;
$bg-cream:#ffeaa7;
$bg-orange:#e17055;
$bg-light-green:#00b894;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1280px;